* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#container div {
    background: yellow;
    border: 2px solid blue;
    height: 100px;
    flex: 0 0 20%;
}